<!DOCTYPE html>
<html>

<head>
    <title>EditPage</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=0.2, maximum-scale=0.5, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="https://cdn.staticfile.org/vue/2.5.16/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.8/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="https://cdn.staticfile.org/element-ui/2.15.8/index.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        h1,
        b {
            color: #444;
        }

        h1 {
            margin: 10px;
        }

        #app {
            display: flex;
            flex-direction: column;
        }

        #app>img {
            margin: 0 auto;
        }

        .el-input {
            width: 130px;
        }

        .el-input_long {
            width: 165px;
        }

        .el-select .el-input {
            width: 155px;
            margin-right: 20px;
        }

        .el-picker-panel .el-input {
            margin-right: 0;
            width: 100%;
        }

        .box {
            line-height: 60px;
        }

        .box_header {
            line-height: 30px;
            padding: 5px;
        }

        .el-card {
            margin-bottom: 10px;
            border-color: #d4d4d4;
        }

        .table {
            line-height: 20px;
        }

        .el-card_left {
            margin-bottom: 10px;
            margin-top: 290px;
            border-color: #d4d4d4;
        }

        html,
        body {
            height: 100%;
            overflow: auto;
            margin: 0;
        }

        html {
            overflow-y: scroll;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-row :gutter="20">

            <el-col style="padding-left: 20px; margin-top: 10px;" :xs={span:17} :sm={span:200} :md={span:16}
                :lg={span:14} :xl={span:12}>
                <el-row :gutter="20">
                    <div class="box" style="text-align:center">
                        <b>游戏：</b>
                        <el-select v-model="ServerNameValue" class="ServerNameValue" placeholder="请选择"
                            @change="OnServerNameChanged">
                            <el-option value="chocolate"></el-option>
                        </el-select>
                        <b>持续时间：</b>
                        <el-input v-model="Schema" placeholder="秒" class="Schema">
                        </el-input>
                        <b>重复次数：</b>
                        <el-input v-model="UserID" placeholder="请输入" class="UserID"></el-input>
                        <el-button plain @click="OnSelectInfo" >开始</el-button>
                       
                </el-row>             
            </el-col>
        </el-row>
    </div>


    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    FirstTable: 'first',
                    ServerNameValue: '',
                    SyncServerValue: '',
                    UserID: '',
                    Schema: '',
                    TimeTypeValue: '',
                    TimeParam: '',
                    SyncServerValue: '',
                    SyncAddress: '',
                    SyncUser: '',
                    SyncSchema: '',
                    Tag: '',
                    DstSyncBranch: '',
                    LeagueGroupId: '',
                    LeagueStage: '',
                    LeagueNum: '',
                    EventGroupId: '',
                    EventNum: '',
                    InitActivityValue: '',
                    GroupName: '',
                    PayInfoAll: '',
                    PayInfoMo: '',
                    VersionInfo: '',
                    ServerUrl: '',
                    UserID: '',
                    Schema: '',
                    userInfo: '',
                    Now: '',
                    EncryptId: '',
                    DecryptId: '',
                    MoreInfoChecked: false,
                    MoreInfoLink: '',
                    ConfigBranch: '',
                    OnRunningSchema: false,
                    codeDefineData: [],
                    userinfoData: [],
                    eventIndexData: []
                }
            },

            methods: {

                Onstart: async function () {
                    console.log("~恢复上次退出时的设置")

                    this.UserID = localStorage.getItem('userid')
                    this.Schema = localStorage.getItem('schema')

                    this.ServerNameValue = localStorage.getItem('serverUrl')
                    if (this.ServerNameValue != null) {
                        this.OnServerNameChanged(localStorage.getItem('serverUrl'))
                    }

                    this.TimeParam = localStorage.getItem('TimeParam')

                    this.SyncServerValue = localStorage.getItem('SyncServerValue')
                    this.SyncAddress = localStorage.getItem('SyncAddress')


                    this.SyncUser = localStorage.getItem('SyncUser')
                    this.SyncSchema = localStorage.getItem('SyncSchema')
                    this.ConfigBranch = localStorage.getItem('ConfigBranch')


                    console.log("~恢复设置完成")

                },

                CheckSchemaLegal() {
                    if (this.Schema == '') {
                        alert("请输入需要操作的Schema")
                        return false;
                    } else if (this.Schema.indexOf("test") != 0) {
                        alert("Schema需要以test开头");
                        return false;
                    } else {
                        var flag = new RegExp("[`_\\-~!@#$^&*()=|{}':;',\\[\\].<>《》/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？ ]");
                        if (flag.test(this.Schema)) {
                            alert("Schema中不能包含特殊字符");
                            return false;
                        }
                    }
                    if (this.ServerUrl == '') {
                        alert("请先选择服务器");
                        return false;
                    }
                    return true;
                },

                OnSchemaChanged() {
                    localStorage.setItem("schema", this.Schema);
                },

                OnCreateSchema() {
                    if (this.CheckSchemaLegal()) {
                        if (this.ServerNameValue != "chocolate-test-01" && this.ServerNameValue != "chocolate-test-02") {
                            alert("只能在01, 02服创建Schema!");
                            return false;
                        }
                        this.$confirm(`是否在 ${this.ServerNameValue} 服务器添加 ${this.Schema} Schema?`, '确认', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.OnRunningSchema = true;
                            var data = {};
                            data["name"] = this.Schema;
                            this.sendRequest(this, this.ServerUrl, "create_schema", "GET", data, "添加Schema失败");
                        }).catch(() => {
                            this.$message({ type: 'info', message: '已取消' });
                        })
                    }
                },

                OnDeleteSchema() {
                    if (this.CheckSchemaLegal()) {
                        this.$confirm(`是否删除 ${this.ServerNameValue} 服务器上的 ${this.Schema} Schema?`, '确认', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.OnRunningSchema = true;
                            var data = {};
                            data["name"] = this.Schema
                            this.sendRequest(this, this.ServerUrl, "delete_schema", "GET", data, "删除Schema失败");
                        }).catch(() => {
                            this.$message({ type: 'info', message: '已取消' });
                        })
                    }
                },

                async OnRefreshSchema() {
                    if (this.CheckSchemaLegal()) {
                        this.$confirm(`是否更新 ${this.ServerNameValue} 服务器上的 ${this.Schema} Schema?`, '确认', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.OnRunningSchema = true;
                            var data = {};
                            data["name"] = this.Schema
                            this.sendRequest(this, this.ServerUrl, "rebuild_schema", "GET", data, "更新Schema失败");
                        }).catch(() => {
                            this.$message({ type: 'info', message: '已取消' });
                        })
                    }
                },

                async OnGetConfig() {
                    if (this.ConfigBranch == '') {
                        alert("请先输入要拉取配置的分支")
                        return;
                    }
                    localStorage.setItem("ConfigBranch", this.ConfigBranch);
                    if (this.CheckSchemaLegal()) {
                        this.$confirm(`是否拉取 ${this.ConfigBranch} 分支的配置到 ${this.ServerNameValue} 服务器的 ${this.Schema} Schema中?`, '确认', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.OnRunningSchema = true;
                            var data = {};
                            data["branch"] = this.ConfigBranch;
                            data["schema"] = this.Schema;
                            this.sendRequest(this, this.ServerUrl, "config", "GET", data, "拉取配置失败");
                        }).catch(() => {
                            this.$message({ type: 'info', message: '已取消' });
                        })
                    }
                },

                OnServerNameChanged(value) {
                    var data = {};
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    if (value == "") {
                        alert("清选择服务器");
                    }

                    if (value == "other") {
                        this.ServerUrl = "请选择服务器";
                    }
                    else if (value == "localhost") {
                        this.ServerUrl = "http://localhost:7790/server";
                        localStorage.setItem("serverUrl", value);
                        this.sendRequest(this, this.ServerUrl, "nowx", "GET", data, "")
                    } else {
                        this.ServerUrl = "https://" + value + ".global.corp.microfun.cn/server"
                        localStorage.setItem("serverUrl", value);
                        this.sendRequest(this, this.ServerUrl, "nowx", "GET", data, "")
                    }
                },

                OnRefreshTime() {
                    if (this.ServerUrl == "") {
                        alert("请先选择服务器")
                    } else {
                        var data = {};
                        if (this.Schema != null && this.Schema != '') {
                            data["schema"] = this.Schema;
                        }
                        this.sendRequest(this, this.ServerUrl, "nowx", "GET", data, "")
                    }

                },

                //查询玩家信息
                OnSelectInfo() {
                    var data = {}
                    data["userid"] = this.UserID;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    localStorage.setItem("userid", this.UserID);
                    localStorage.setItem("schema", this.Schema);
                    this.sendRequest(this, this.ServerUrl, "get_user_basic", "GET", data, "查询玩家信息失败")
                },

                //code定义
                OnCodeDefine() {
                    var data = {}
                    this.sendRequest(this, this.ServerUrl, "get_code_define", "GET", data, "查询code定义失败")
                },

                //副本索引
                OnEventIndex() {
                    var data = {}
                    this.sendRequest(this, this.ServerUrl, "get_event_index", "GET", data, "查询副本索引失败")
                },

                //查询详细信息
                OnMoreInfo() {
                    if (this.ServerUrl.match("^([0-9]{3})+(\.[0-9]{1,3})+(\.[0-9]{1,3})+(\.[0-9]{1,3})$")) {
                        url = "http://" + this.ServerUrl + ":7790/server";
                    } else {
                        url = this.ServerUrl
                    }
                    this.MoreInfoLink = url + "/get_user_branch?userid=" + this.UserID
                    if (this.Schema != null && this.Schema != '') {
                        this.MoreInfoLink += "&schema=" + this.Schema;
                    }
                    console.log(this.MoreInfoLink)
                    window.open(this.MoreInfoLink)
                },

                //删除玩家活动数据
                OnDelectActivityInfo() {
                    var data = {}
                    data["userid"] = this.UserID;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    this.sendRequest(this, this.ServerUrl, "delete_activity_data", "GET", data, "删除玩家活动数据失败")
                },

                //标记作弊用户
                OnAddBlackList() {
                    var data = {}
                    data["userid"] = this.UserID;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    this.sendRequest(this, this.ServerUrl, "mark_cheat_user", "GET", data, "添加黑名单失败");
                },

                //解除作弊
                OnDelectBlackList() {
                    var data = {}
                    data["userid"] = this.UserID;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    this.sendRequest(this, this.ServerUrl, "delete_cheat_mark", "GET", data, "从黑名单中删除失败");
                },

                //添加tag
                OnAddTag() {
                    var data = {}
                    data["userid"] = this.UserID;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    data["tag"] = this.Tag;
                    this.sendRequest(this, this.ServerUrl, "mark_user_tag", "GET", data, "添加tag失败");
                },

                //段位赛加假人
                OnAddActionLeague() {
                    var data = {}
                    data["league_group_id"] = this.LeagueGroupId;
                    data["league_stage"] = this.LeagueStage;
                    data["user_count"] = this.LeagueNum;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    this.sendRequest(this, this.ServerUrl, "add_league_users", "GET", data, "添加段位赛假人失败");
                },

                //副本排行榜加假人
                OnAddActionEvent() {
                    var data = {}
                    data["merge_group_id"] = this.EventGroupId;
                    data["user_count"] = this.EventNum;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    this.sendRequest(this, this.ServerUrl, "add_merge_users", "GET", data, "添加副本排行榜假人失败");
                },

                //同步配置结构
                OnSyncConfigBranch() {
                    var data = {}
                    var SrcSyncBranch = ''
                    if (this.ServerNameValue.indexOf("chocolate-test") != -1) {
                        SrcSyncBranch = "env/test-" + this.ServerNameValue.substr(16,1);
                    }
                    else {
                        alert("只能从线下服务器同步配置结构");
                    }
                    if (this.DstSyncBranch == '') {
                        alert("请填写目标分支")
                    }
                    data["src_branch"] = SrcSyncBranch;
                    data["dst_branch"] = this.DstSyncBranch;
                    this.sendRequest(this, this.ServerUrl, "update_config_xsd", "GET", data, "同步配置结构失败");
                },

                //修改用户分桶
                OnUpdateGroupName() {
                    var data = {}
                    data["userid"] = this.UserID;
                    data["group_name"] = this.GroupName;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    this.sendRequest(this, this.ServerUrl, "change_group_name", "GET", data, "修改玩家分桶失败");
                },

                //修改用户付费信息
                OnUpdatePayInfo() {
                    var data = {}
                    data["userid"] = this.UserID;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    data["total_pay"] = this.PayInfoAll;
                    data["month_pay"] = this.PayInfoMo;
                    this.sendRequest(this, this.ServerUrl, "change_user_payment", "GET", data, "修改玩家付费信息失败");
                },

                //活动初始化
                OnInitActivity() {
                    var data = {}
                    if (!this.InitActivityValue) {
                        alert("please select activity!");
                        return;
                    } else {
                        data["activity"] = this.InitActivityValue;
                    }
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    this.sendRequest(this, this.ServerUrl, "init_activity", "GET", data, "初始化活动失败");
                },

                //修改用户版本信息
                OnUpdateVersionInfo() {
                    var data = {}
                    data["userid"] = this.UserID;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    data["version"] = this.VersionInfo;
                    this.sendRequest(this, this.ServerUrl, "change_user_version", "GET", data, "修改玩家最高版本失败");
                },

                //真假id转换
                OnExchangeId() {
                    var data = {}
                    if (this.EncryptId == "") {
                        alert("请输入需要转换的id")
                        return;
                    }
                    var isNum = /^\d+$/.test(this.EncryptId);
                    if (isNum) {
                        ExchangeUrl = "https://cake-test-01.corp.microfun.com/diagnose/encode/" + this.EncryptId
                    } else {
                        ExchangeUrl = "https://cake-test-01.corp.microfun.com/diagnose/decode/" + this.EncryptId
                    }
                    this.sendRequest(this, ExchangeUrl, "exchange_id", "GET", data, "id转换失败");
                },

                //修改服务器时间
                OnTimeAction() {
                    var data = {}
                    console.log(this.TimeParam);
                    localStorage.setItem("TimeParam", this.TimeParam);
                    var date = new Date(this.TimeParam);
                    console.log("date" + date);
                    var date_new = new Date(date.setHours(date.getHours() + 8))
                    console.log("date_new:" + date_new);
                    var full_date_new = this.date_format(this, date_new);
                    console.log("full_date_new:" + full_date_new);
                    data["ts"] = full_date_new;
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }

                    this.sendRequest(this, this.ServerUrl, "time", "GET", data, "修改服务时间失败");
                },

                date_format(_this, date) {
                    console.log("date:" + date)
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var day = date.getDate();
                    var hour = date.getHours();
                    var minutes = date.getMinutes();
                    var second = date.getSeconds();
                    month < 10 ? month = "0" + month : month;
                    day < 10 ? day = "0" + day : day;
                    hour < 10 ? hour = "0" + hour : hour;
                    minutes < 10 ? minutes = "0" + minutes : minutes;
                    second < 10 ? second = "0" + second : second;
                    var full_date = year + "-" + month + "-" + day + "T" + hour + ":" + minutes + ":" + second
                    console.log(full_date)
                    return full_date
                },

                //重置服务器时间
                OnTimeInit() {
                    var data = {}
                    data["offset"] = 0
                    if (this.Schema != null && this.Schema != '') {
                        data["schema"] = this.Schema;
                    }
                    this.sendRequest(this, this.ServerUrl, "time", "GET", data, "重置服务时间失败");
                },

                //同步玩家数据
                OnSyncServerChanged(value) {
                    if (value == "") {
                        alert("请选择服务器");
                        return;
                    }

                    var address = this.SyncAddress;
                    localStorage.setItem("SyncServerValue", value);

                    if (value == "other") {
                        this.SyncAddress = "请输入服务器地址";
                    } else if (value.match("^chocolate-test-[0-9]{2}$") != null) {
                        var temp = value.slice(-2);
                        if (temp[0] == '0') {
                            temp = temp.slice(1);
                        }
                        this.SyncAddress = "test-" + temp;
                    } else {
                        this.SyncAddress = value;
                    }

                    localStorage.setItem("SyncAddress", this.SyncAddress);
                },

                OnSyncAction() {
                    var data = {}
                    localStorage.setItem("SyncUser", this.SyncUser);
                    localStorage.setItem("SyncSchema", this.SyncSchema);
                    data["src_userid"] = this.SyncUser;
                    data["dst_userid"] = this.UserID;
                    data["server"] = this.SyncAddress;
                    if (this.Schema != null && this.Schema != '') {
                        data["dst_schema"] = this.Schema;
                    }
                    if (this.SyncSchema != null && this.SyncSchema != '') {
                        data["src_schema"] = this.SyncSchema;
                    }
                    this.sendRequest(this, this.ServerUrl, "copy_user_branch", "GET", data, "同步玩家数据失败");
                    document.getElementById("SyncAction").innerHTML = "同步中..."
                },

                //查看玩家数据
                OnCheckMoreInfo() {
                    var server = ""
                    localStorage.setItem("SyncUser", this.SyncUser);
                    localStorage.setItem("SyncSchema", this.SyncSchema);
                    console.log(this.SyncAddress)
                    if (this.SyncAddress == "abroad") {
                        server = "http://chocolate-alb-960478118.us-west-2.elb.amazonaws.com:52000/cgi"
                    } else if (this.SyncAddress.match("^test-[0-9]{1}$")) {
                        var temp = this.SyncAddress.slice(-1)
                        server = "http://chocolate-test-0" + temp + ".global.corp.microfun.cn/server"
                    } else {
                        server = "http://" + this.SyncAddress + ":7790/server"
                    }
                    server += "/get_user_branch?userid=" + this.SyncUser
                    if (this.SyncSchema != null && this.SyncSchema != '') {
                        server += "&schema=" + this.SyncSchema;
                    }
                    console.log(server)
                    window.open(server)
                },


                //网页显示请求结果
                showMassage(_this, path, massage, result) {
                    var _this = this;
                    if (result) {
                        switch (path) {
                            case "get_user_basic":
                                var jsonUserData = JSON.parse(massage);
                                this.userinfoData = [];
                                for (var key in jsonUserData) {
                                    this.userinfoData.push({ title: key, content: jsonUserData[key] })
                                }
                                alert("success!");
                                break;
                            case "get_code_define":
                                var jsonCodeDefine = JSON.parse(massage);
                                this.codeDefineData = [];
                                for (var key in jsonCodeDefine) {
                                    this.codeDefineData.push({ code: jsonCodeDefine[key], content: key });
                                }
                                break;
                            case "get_event_index":
                                var jsonCodeDefine = JSON.parse(massage);
                                this.eventIndexData = [];
                                for (var key in jsonCodeDefine) {
                                    this.eventIndexData.push({ index: jsonCodeDefine[key], event: key })
                                }
                            case "copy_user_branch":
                                alert("success!");
                                document.getElementById("SyncAction").innerHTML = "确认同步";
                                break;
                            case "nowx":
                                //var date = new Date(Date.parse(massage.replace(/-/g,"/"))).toLocaleString("sv-SE");
                                //console.log(date);
                                document.getElementById("Now").value = massage.slice(0, 19);
                                break;
                            case "time":
                                alert("success!");
                                document.getElementById("refreshTime").click();
                                break;
                            case "exchange_id":
                                _this.DecryptId = massage
                                break;
                            case "create_schema": case "delete_schema": case "rebuild_schema": case "config":
                                this.OnRunningSchema = false;
                                this.$message({ type: 'success', message: '操作Schema成功!' })
                                break;
                            default:
                                alert("success!");
                                break;
                        }
                    } else {
                        switch (path) {
                            case "copy_user_branch":
                                document.getElementById("SyncAction").innerHTML = "确认同步";
                                break;
                            case "get_user_basic":
                                this.userinfoData = [];
                                break;
                            case "get_code_define":
                                this.codeDefineData = [];
                                break;
                            case "get_event_index":
                                this.eventIndexData = [];
                                break;
                            case "create_schema": case "delete_schema": case "rebuild_schema": case "config":
                                this.OnRunningSchema = false;
                                break;
                        }
                    }


                },

                //发送请求
                sendRequest(_this, url, path, method, data, message) {
                    var result = false;
                    //生成请求地址
                    switch (path) {
                        case "exchange_id":
                            break;
                        default:
                            if (url.match("^([0-9]{3})+(\.[0-9]{1,3})+(\.[0-9]{1,3})+(\.[0-9]{1,3})$")) {
                                url = "http://" + url + ":7790/server/" + path;
                            } else {
                                url += "/" + path;
                            }
                            break;
                    }
                    //console.log(url)

                    var req = new XMLHttpRequest();
                    req.onerror = function () {
                        switch (path) {
                            case "nowx":
                                result = false;
                                break;
                            default:
                                alert(message + "\n" + "url : " + url + "\n" + "ErrorMassage :" + "\n" + req.responseText);
                                result = false;
                                _this.showMassage(_this, path, req.responseText, result);
                                break;
                        }
                    };

                    req.onabort = function () {
                        switch (path) {
                            case "nowx":
                                result = false;
                                break;
                            default:
                                alert(message + "\n" + "url : " + url + "\n" + "ErrorMassage :" + "\n" + req.responseText);
                                result = false;
                                _this.showMassage(_this, path, req.responseText, result);
                                break;
                        }
                    };


                    req.onload = function () {
                        if (this.status != 200) {
                            switch (path) {
                                case "nowx":
                                    result = false;
                                    break;
                                default:
                                    alert(message + "\n" + "url : " + url + "\n" + "ErrorMassage :" + "\n" + req.responseText);
                                    result = false;
                                    _this.showMassage(_this, path, req.responseText, result);
                                    break;
                            }
                        } else {
                            result = true;
                            _this.showMassage(_this, path, req.responseText, result);
                        }
                    };

                    if (method == "GET") {
                        for (var key in data) {
                            url += ((url.indexOf('?') != -1 ? '&' : '?') + key + '=' + data[key]);
                        }
                    };

                    if (method == "POST") {
                        var formData = new FormData();
                        for (var key in data) {
                            formData.append(key, data[key]);
                        }
                    };

                    switch (method.toUpperCase()) {
                        case "GET":
                            console.log("request url: " + url);
                            req.open("GET", url);
                            req.send();
                            break;
                        case "PUT":
                            console.log("request url: " + url);
                            req.open("PUT", url);
                            req.setRequestHeader("Content-type", "application/json; charset=UTF-8");
                            req.send(JSON.stringify(data));
                            break;
                        case "POST":
                            console.log("request url: " + url);
                            req.open("POST", url);
                            req.setRequestHeader("Content-type", "application/json; charset=UTF-8");
                            req.send(this.$options.methods.map2form(data));
                            break;
                        default:
                            alert("Error! RequestMethod is unavailable")
                    }
                }

            },

            //网页打开时执行脚本
            mounted: function () {
                this.Onstart();
            }

        });

    </script>
</body>

</html>